@font-face {
  font-family: "Outfit";
  src: url("./../assets/fonts/Outfit-VariableFont_wght.woff2") format("woff2");
  font-weight: 400 800;
  font-display: swap;
}

:root {
  --hsl-clr-primary: 218, 44%, 22%;
  --hsl-clr-secondary: 220, 15%, 55%;
  --hsl-clr-bg: 212, 45%, 89%;
  --hsl-clr-neutral: 0, 0%, 100%;

  --clr-primary: hsl(var(--hsl-clr-primary));
  --clr-secondary: hsl(var(--hsl-clr-secondary));
  --clr-bg: hsl(var(--hsl-clr-bg));
  --clr-neutral: hsl(var(--hsl-clr-neutral));

  --font-family-default: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: 0.3rem;
  --fs-200: 0.5rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.3rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: inherit;

  font-family: var(--font-family-default);
  font-size: var(--fs-400);
  color: var(--clr-secondary);
  background-color: hsl(var(--hsl-clr-bg));
}

img {
  display: block;
  max-width: 100%;
}

main {
  /* for viewing purposes */
  display: grid;
  place-content: center;

  min-height: 100vh;
}

.flex-flow {
  display: flex;
  flex-direction: column;
}

.qr-code {
  --component-width: 20em;
  --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  --padding: 1em;
  --border-radius: 1.5em;

  max-width: var(--component-width);
  padding: var(--padding);

  text-align: center;

  background-color: hsl(var(--hsl-clr-neutral));
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &--image {
    border-radius: calc(var(--border-radius) - 0.5em);
  }

  &--text {
    padding-inline: var(--padding);
    padding-block: calc(var(--padding) - 0.5em);

    > h2 {
      color: var(--clr-primary);
      font-size: var(--fs-500);
    }

    > p {
      font-size: var(--fs-300);
    }
  }
}
